.jumbotron{
  background-image: url(images/pvd/good4.jpg);
  background-size: auto;
}

.border {
  border: solid black 2px;
  border-style: double;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
